* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root {
    --primary-color: hwb(0 100% 0%);
    --secondary-color: #000000;

}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--secondary-color);
}

header {
    
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/fire.gif");
    background-size: cover;
    background-position: 80%;
} 

header h1 {
 font-weight: bold;
 margin: 0;
 font-size: 50px;
 color: var(--secondary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}
  
header nav {
  margin: 7px 0;

}

header nav ul {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 list-style: none;
}

header nav ul li a {
    padding: 30px 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

footer {
    background: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }

.section-title {
    font-size: 40px;
text-align: center;
padding-top: 60px;
padding-bottom: 60px;
}

.about-me {
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    text-align: left;
}

.profile-pic {
  flex: 1 12%;
  margin-right: 20px;
}

.profile-pic {
  max-width: 100%;
}

@media screen {
    header{
        width: 100;
    }
    
}