:root {
  --primary-color: #ffff;
  --secondary-color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
}

/* header/nav*/

header {
  background-image: url("../images/matrix.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  padding: 25px 35px;
top: 0%;
z-index: 999;
}

header h1 {
  font: bold;
  margin: 0;
  font-size: 40px;
  color: var(--primary-color);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 15px 20px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
background-color: var(--primary-color);
color: var(--secondary-color);
border-radius: 10px;
}
/* end of header */

/* about me section begins */
.title1 {
  color: var(--primary-color);
  font-size: 40px;
  text-align: center;
  padding-bottom: 40px;
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
  background-image: url(../images/matrix.gif);
  
}

.about-me {
  color: var(--primary-color);
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
  background-image: url(../images/matrix.gif);
}

.about-me img {
  height: auto;
  width: 90%;
  padding-bottom: 30px;
  margin-right: 50px;
  padding-left: 150px;
}

.aboutme {
  width: 90%;
  padding-left: 180px;
  padding-bottom: 60px;
}


/* about me ends*/

/* my work begins */
.title2 {
font-size: 40px;
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
}

.me {

}

.my-work {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: right;
  align-content: center;
  background-attachment: fixed;
}

.work {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  flex: 1;
}

.works {
  padding: 25px;
  line-height: 1.3;
}

.works p {
max-width: 80%;
}

.works img {
  max-width: 80%;
}

.works h3 {
  text-align: center;
  font-size: 35px;
}
/* my work ends */

/* contact me begins */

.title3 {
  font-size: 40px;
  text-align: center;
  color: var(--primary-color);
  padding-bottom: 40px;
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
  background-image: url(../images/matrix.gif);
}

.contact-info {
  color: var(--primary-color);
  padding-bottom: 40px;
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
  background-image: url(../images/matrix.gif);
}

.contact-info p {
padding-left: 40px;
}
/* contact me ends */

/* footer begins */
footer {
  padding-top: 40px;
  color: var(--primary-color);
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
  background-image: url(../images/matrix.gif);
}
/* footer ends */

.flex-row {
  align-content: center;
}

 /* responsiveness */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
  .my-work {
    flex: 0 100;
  }
}

@media screen and (max-width: 575px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  
  header h1 {
    width: 100%;
    text-align: center;
  }
  
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  
  header nav ul li a {
    font-size: 20px;
  }
  
  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .works {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }
 .about-me {
  flex: 0 100%;
 }

}
