:root {
  --primary-color: hwb(0 100% 0%);
  --secondary-color: #000000;
  background-image: url("../images/matrix.gif");
  background-size: contain;
  background-attachment: fixed;
  background-position: 80%;
  align-content: center;
  max-width: 100%;
}
* {
  box-sizing:border-box;
  margin: 0%;
  padding: 0%;t
}

body {
  font-family: 'Times New Roman', Times, serif;

}


header {
  box-sizing: content-box;
  padding: 25px 35px;
  height:auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-image: url("../images/matrix.gif");
  background-size: cover;
  background-position: 80%;
  z-index: 9999;
} 

header h1 {
 font-weight: bold;
 margin: 0;
 font-size: 50px;
 color: var(--primary-color);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}
  
header nav {
  margin: 7px 0;
}

header nav ul {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}


footer {
  background: var(--primary-color);
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  }
  
  footer h2 {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0;
  }
  
  footer div {
  line-height: 1.5;
  text-align: right;
  }
  
  .section-title {
    font-size: 48px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 100%;
    position: static;
    color: var(--primary-color);
  }

section {
  padding: 60px;
}

.about {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--primary-color);
}

.about img {
  height: auto;
  width: 45%;
  padding-top: 

}

.about {
  margin: 20px;
  flex: 1;
  color: var(--primary-color);
  background-attachment: fixed;
}

.about h2 {
  color: var(--primary-color);
}

.about p {
  font-size: 17px;
  margin: 40px;
}

.my-work {
  margin: 20px;
  flex: 1;
  background-color: var(--primary-color);
  background-attachment:fixed;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.my-work h2 {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin-bottom: 20%;
  text-align: center;
}

.place-holder{
  color: var(--secondary-color);

}

.my-work img {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.work {
  background-color: var(--primary-color);
  margin: 20px;
  flex: 1;
  padding-top: 20px;
  height: auto;
  width: 90%;
}

.works {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
  margin-left: 25%;
}

.works p {
  font-size: 17px;
  background-color: var(--primary-color);
}
.resume {
  max-height: 0;
  margin-top: 0%;
}

.contact-info {
  background-image: url("../images/matrix.gif");
  color: var(--primary-color);
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: auto;
}

.contact {
  
}

.contact-info h2 {
  text-align: center;
  padding-bottom: 60px;
  color: var(--primary-color);
}

.flex-row {
  display: flex;
}

@media screen and (max-width:980px) {
  header {
    width: 100%;
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a {
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  img {
    flex: 0 100%
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
  .text-1 {
    flex: 100%;
  }
  .text-2 {
    flex: 100%;
  }
}